.modal-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: 99;
		background-color:rgba(0,0,0,.2);
	}

	.modal-wrapper:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.custom-modal {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		margin: 0 auto;
		padding: 10px;
		-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
		-moz-border-radius:   	10px;
		-webkit-border-radius: 	10px;
		border-radius: 			10px;
		-khtml-border-radius: 	10px;
		background-color: white;
		
	}

	