<template>
	<div class="row no-gutter">
		<div class="col-sm-12 clearfix">
			<div class="nav-buttons pull-right">
				<a href="" @click.prevent="showItemsMenu">
					<button v-if="itemsMenu" class="visible-xs-inline-block menu-btn clickable">
						<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
					</button>
				</a>
				<a href="" @click.prevent="showUserMenu">
					<button class="visible-xs-inline-block user-btn clickable">
						<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					</button>
				</a>
				<a href="/kosik" @mouseover="hoveringOverButton = true" @mouseleave="hoveringOverButton = false">
					<button class="cart-btn clickable">
						<span v-if="showCounter" class="items-count-wrapper clickable" v-bind:class="{'rotate': animateCart, 'lift': hoveringOverButton}"><span v-if="showCount" class="item-count">{{itemsInCart}}</span></span>
						<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
					</button>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ["cart_items_count"],
		data() {
			return {
				userMenu: false,
				itemsMenu: true,
				cartCountChangedTo: "not set",
				animateCart: false,
				showCount: true,
				hoveringOverButton: false,
			}
		},
		computed: {
			itemsInCart: function (){
				if (this.cartCountChangedTo === "not set") {
					return this.cart_items_count;
				} else {
					return this.cartCountChangedTo;
				}
			},
			showCounter: function () {
				if (!((this.itemsInCart === "not set") || (this.itemsInCart === 0))) {
					return true;
				}
			}
		},
		methods: {
			showItemsMenu() {
				this.userMenu = false;
				Event.$emit("showItemsMenu");
			},
			showUserMenu() {
				this.userMenu = !this.userMenu;
				Event.$emit("showUserMenu");
			},
			animate() {
				this.animateCart = true;
				let that = this;
				setTimeout(function(){
					that.showCount = true;
				}, 300);
				setTimeout(function(){
					that.animateCart = false;
				}, 1000);
			},
		},
		created() {
			// Event.$on("cartPageLoaded", () => this.itemsMenu = false);
			window.location.pathname === "/" ? this.itemsMenu = true : this.itemsMenu = false;
			Event.$on("newCartItemsCount", cartItemsCount => {
				this.cartCountChangedTo = cartItemsCount;
				this.showCount = false;
				this.animate();
			});
			Event.$on("resizing", () => {
				this.userMenu = false;
			});
		}
	}
</script>