<template>
	<div>
		<div v-if="show" class="modal-wrapper" @click="show = !show">
		  <div class="custom-modal">
		    <h1>Děkujeme za nákup</h1>
		    <hr>
		    <p>Podrobnosti byly zaslány na Váš email</p>
		  </div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				show: true
			}
		},
		created() {
			Event.$on("showModal", () => this.show = true);
		}
	}
</script>

<style>
	
</style>