<template>
	<div>
	    <div v-for="(item, index) in items">
	    	<div class="radio" v-for="part in item">
	    	  <label><input type="radio" :name="index" :value="part.name" v-model="picked">{{part.name}}</label>
	    	</div>
	    	<hr>
	    </div>
	    <p>Picked: {{picked}} </p>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				picked: "jay",
				items:
					{
						first: [
									{name: "One"},
									{name: "Two"},
									{name: "Three"}
								],
						second: [
									{name: "Four"},
									{name: "Five"},
									{name: "Six"}
								]
					}
			}
		}
	}
</script>