<template>
	<div v-if=userMenuVisible class="col-sm-12 user-menu">
	<div class="title">
		Menu
	</div>
	   <ul class="list-unstyled">
	       <li><a href="/maloobchod">Výhodný nákup - registrace</a><span></span></li>
	       <li><a href="">Kontakty</a><span></span></li>
	       <li v-if="guest"><a href="/login">Přihlásit</a></li>
	       <li v-if="!guest"><a href="/register"></a>
	           <div class="nav-menu">
	               <div class="arrow-up"></div>
	               <ul class="nav-dropdown list-unstyled">
	                   <li><a href="/home">Informace</a></li>
	                   <li><a href="/historie">Objednávky</a></li>
	                   <li><a href="/logout">Odhlásit</a></li>
	               </ul>
	           </div>
	       </li>
	   </ul>
	</div>
</template>
<script>
	export default {
		props: ["guest"],
		data() {
			return {
				userMenuVisible: false
			}
		},
		created() {
			Event.$on("showItemsMenu", () => this.userMenuVisible = false);
			Event.$on("showUserMenu", () => this.userMenuVisible = !this.userMenuVisible);
			Event.$on("mobileWidth", mobileWidth => {
				if (!mobileWidth) {
					this.userMenuVisible = false;
				}
			});
		}
	}
</script>