<template>
	<div>
		<div class="panel-heading">
		    <div id="item-breadcrumb" class="row no-gutter">
				<ol class="breadcrumb">
				    <li ><a href="" @click.prevent="categoryIsSelected()">{{categoryName}}</a></li>
				    <li :class="{active: navigation.type, hidden: !navigation.type}"><a href="" @click.prevent="typeIsSelected()">{{typeName}}</a></li>
				    <li :class="{active: navigation.section, hidden: !navigation.section}">{{sectionName}}</li>
				</ol>
			</div>
		</div>	
	</div>
</template>

<script>
	export default {
		props: ["navigation"],
		methods: {
			categoryIsSelected() {
				let category = this.navigation.category;
				Event.$emit("categoryIsSelected", category);
			},
			typeIsSelected() {
				let category = this.navigation.category;
				let type = this.navigation.type;
				
				Event.$emit("typeIsSelected", [category, type]);
			}
		},
		computed: {
			categoryName: function() {
				if (this.navigation.category) {
					return this.navigation.category.name;
				}
			},
			typeName: function() {
				if (this.navigation.type) {
					return this.navigation.type.name;
				}
			},
			sectionName: function() {
				if (this.navigation.section) {
					return this.navigation.section.name;
				}
			}
		}
	}
</script>