<template>
	<div>

				<div class="item">
					<div class="item-image">
						<img :src="'/img/' + item.image" class="img-responsive" alt="Cinque Terre" @click="showModal">
					</div>
					<div :id="'modal'+item.id" class="img-modal" :style="{display: displayModal}" @click="closeModal">
						<span class="close-modal" @click="closeModal">&times;</span>
						<img :id="'img'+item.id" class="modal-content" :src="'/img/' + item.image">
						<div class="modal-caption"> {{item.name}} </div>
					</div>
					<div class="item-content">
						<div class="item-title">
							<h4>{{item.name}}</h4>
						</div>
						<div class="item-quantity">
							<small>
								<div class="item-radio" v-if="item.price10">
									<input type="radio" v-bind:id="label10" v-bind:name="item.id" value="price10" v-model="picked">
									<label v-bind:for="label10">10g</label>
									<span class="item-price">{{item.price10}} Kč</span>
								</div>
								<div class="item-radio" v-if="item.price50">
									<input type="radio" v-bind:id="label50" v-bind:name="item.id" value="price50" v-model="picked">
									<label v-bind:for="label50">50g</label>
									<span class="item-price">{{item.price50}} Kč</span>
								</div>
								<div class="item-radio" v-if="item.price50">
									<input type="radio" v-bind:id="label100" v-bind:name="item.id" value="price" v-model="picked">
									<label v-bind:for="label100">100g</label>
									<span class="item-price">{{item.price}} Kč</span>
								</div>
								<div class="item-radio clearfix" v-else>
									<span class="item-price-custom">{{item.price}} Kč</span>
								</div>
								<div class="item-radio" v-if="item.price10">
									<input type="radio" v-bind:id="free_sample" v-bind:name="item.id">
									<label v-bind:for="free_sample">Vzorek zdarma</label>
								</div>
								<div class="item-counter clearfix">
									<input v-bind:id="counter" type="number" class="pull-left" min="1" max="99" v-model:value="qty" onkeypress="return event.charCode >= 48">
									<label v-bind:for="counter"></label>
									<button class="pull-right clickable" @click="addToCart($event, item)"><i v-if="addingItemToCart" class='fa fa-spinner fa-spin fa-lg'></i><span v-if="!addingItemToCart">Do košíku</span></button>
								</div>
							</small>
						</div>
						<div class="item-description">
							<p> {{item.description}} </p>
						</div>
					</div>

				</div>




				<!-- <div class="thumbnail">
					<img src="http://placehold.it/400x200" alt="">
					<div class="caption">
						<h4>Daarjeeling tea</h4>
					</div>
					<div class="row">
						<div class="col-sm-9">
							<div class="item-radio">
								<input type="radio" v-bind:id="label10" v-bind:name="item.id">
								<label v-bind:for="label10">10g</label>
							</div>
							<div class="item-radio">
								<input type="radio" v-bind:id="label50" v-bind:name="item.id">
								<label v-bind:for="label50">50g</label>
							</div>
							<div class="item-radio">
								<input type="radio" v-bind:id="label100" v-bind:name="item.id">
								<label v-bind:for="label100">100g</label>
							</div>
							<div class="item-radio">
								<input type="radio" v-bind:id="free_sample" v-bind:name="item.id">
								<label v-bind:for="free_sample">Vzorek zdarma</label>
							</div>
						</div>
					</div>
				</div>
				
			    <div class="thumbnail">
			        <img src="http://placehold.it/400x200" alt="">
			        <div class="caption">
			            <div class="item-title">
			            	<h4>{{item.name}}</h4>
			            </div>
			            <div class="row">
			                <div class="box"></div>
			                <div class="col-sm-9 item-table item-description">
			                    
			                    <div class="radio" v-if="item.price10">
			                        <label>
			                            <input type="radio" v-bind:name="item.id" value="price10" v-model="picked"> 10g
			                            <span style="position: absolute;">{{item.price10}}&nbspKč</span> 
			                        </label>
			                    </div>
			                    
			                    <div class="radio" v-if="item.price10">
			                        <label>
			                            <input type="radio" v-bind:name="item.id" value="price50" v-model="picked"> 50g 
			                            <span style="position: absolute;">{{item.price50}}&nbspKč</span> 
			                        </label>
			                    </div>
			                    
			                    <div class="radio" v-if="item.price10">
			                        <label>
			                            <input type="radio" v-bind:name="item.id" value="price" v-model="picked"> 100g 
			                            <span style="position: absolute;">{{item.price}}&nbspKč</span> 
			                        </label>
			                    </div>
			                    <div class="radio" v-else>
		                            <strong>{{item.price}}&nbspKč</strong>
			                    </div>
			                    
			                    <div class="radio" v-if="item.price10">
			                        <label>
			                            <input type="radio" v-bind:name="item.id" value="free_sample" v-model="picked"> Vzorek zdarma 
			                        </label>
			                    </div>
			
			                </div>
			                <div class="col-sm-3">
			                    <input type="number" class="pull-right" min="1" max="99" v-model:value="qty" onkeypress="return event.charCode >= 48">
			                </div>
			            </div>
			            <hr>
			            <div class="row">
			                <div class="col-md-12 item-description">
			                    <p>{{item.description}}</p>
			                </div>
			            </div>
			        </div>
		            <button 
		            @click="addToCart($event, item)" 
		            class="btn btn-default pull-right btn-sm">Do košíku
		            </button>
			    </div> -->


	</div>
</template>

<script>
	export default {
		props: ["item"],
		data() {
			return {
				label10: "",
				label50: "",
				label100: "",
				free_sample: "",
				counter: "",
				picked: "price",
				qty: 1,
				displayModal: "none",
				addingItemToCart: false,
			}
		},
		methods: {
			addToCart() {
				this.addingItemToCart = true;
				this.$http.post("/cart", {id: this.item.id, qty: this.qty, priceType: this.picked})
				.then(response => {
					Event.$emit("newCartItemsCount", response.data.cart_items_count)
					this.addingItemToCart = false;
					this.qty = 1;
					this.picked = "price";
				});

			},
			reset() {
				this.picked = "price";
				this.qty = 1;
			},
			showModal () {
				this.displayModal = "block";
			},
			closeModal() {
				this.displayModal = "none";
			}
		},
		created() {
			this.label10 = "quantity-10-" + this._uid;
			this.label50 = "quantity-50-" + this._uid;
			this.label100 = "quantity-100-" + this._uid;
			this.free_sample = "free_sample-" + this._uid;
			this.counter = "counter-" + this._uid;

			Event.$on("databaseQueryEnd", data => {
				this.reset();
			});


			$('.btn').on('click', function() {
			    var $this = $(this);
			  $this.button('loading');
			    setTimeout(function() {
			       $this.button('reset');
			   }, 8000);
			});

		}
	}
</script>