<template>
	<div class="flex">
		<shop-item v-for="item in navigation.selectedItems" v-bind:item="item" 
		class="box"
		:class="{'box-wide': width > 1200, 'box-medium': width < 1200, 'box-mobile': width < 768}"
		></shop-item>
	</div>
</template>

	<script>
		export default {
			props: ["navigation"],
			data() {
				return {
					width: window.innerWidth
				}
			},
			methods: {
				handleResize() {
					this.width = window.innerWidth;
				}
			},
			created() {

				window.addEventListener("resize",this.handleResize);
			}
		}
	</script>

	<style>

	</style>