<template>
	<div class="row main-content">
	    
	    <div class="col-sm-2 clearfix sidebar-menu">
	        <shop-sidebar v-bind:navigation="navigation"></shop-sidebar>
	    </div>
	
	    <div class="col-sm-10">

	            <div class="row no-gutter">
	                <div class="col-xs-12">
	                    <div class="panel panel-default shop-breadcrumb">

                            <shop-breadcrumb v-bind:navigation="navigation"></shop-breadcrumb>
	                                                                
	                        <subsections-filtr v-bind:navigation="navigation"></subsections-filtr>
	                            
	                    </div>
	                </div>
	            </div>
	        
	            <div class="row" v-bind:class="{'blur': blur}">
	            	<shop-items v-bind:navigation="navigation"></shop-items>
	            </div>

				<div class="row no-gutter">
		            
		            <pagination v-bind:pagination="navigation.pagination"></pagination>

				</div>

	    </div>
	
	</div>
</template>
<script>
	class Navigation {
		constructor() {
			this.navigationMenu = "";
			this.selectedItems = "";
			this.pagination = "";
			this.category = "";
			this.type = "";
			this.section = "";
			this.subsections = "";
			this.selectedSubsections = [];
		}
		
		categoryIsSelected(data) {
			this.hideAllSections();
			this.resetAll();
			this.category = data;
		}

		typeIsSelected(data) {
			if (data[1].showSections === true) {
				data[1].showSections = false;
				this.section = "";
				this.subsections = "";
			} else {
				this.hideAllSections();
				this.resetAll();
				this.category = data[0];
				this.type = data[1];
				data[1].showSections = true;
			}
		}

		sectionIsSelected(data) {
			this.resetSelectedSbsections();
			this.section = data;
			this.subsections = data.subsections;
		}

		subsectionIsSelected(data) {
			this.selectedSubsections = data;
		}

		resetAll() {
			this.category = "";
			this.type = "";
			this.section = "";
			this.subsections = "";
		}

		resetSelectedSbsections() {
			if (this.selectedSubsections.length > 0) {
				this.selectedSubsections = [];
			}
		}

		hideAllSections() {
			this.navigationMenu.forEach((category) => {
				return category.types.forEach((type) => {
					return type.showSections = false;
				})
			})
		}

		paginate(data) {
			this.pagination = data;
		}
	}

	export default {
		props: ["sidebar_items"],
		data() {
			return {
				navigation: "",
				blur: false,
			}
		},
		computed: {
			selectedSubsections: function () {
				return this.navigation.selectedSubsections;
			}
		},
		watch: {
			selectedSubsections: function (val) {
				//this is also responsible for loading items after reloading the page
				this.collectItems();
			}
		},
		methods: {
			collectItems(page = 1) {
				let apiQuery = this.createApiQuery(page)
				Event.$emit("databaseQueryStart");
				this.$http.get("/api/category" + apiQuery).then((response) => {
					this.navigation.selectedItems = response.data.data;
					this.navigation.paginate(response.data.meta.pagination);
					Event.$emit("databaseQueryEnd");
				});
			},
			createApiQuery (page = 1) {
				let query = "";
				let navigation = this.navigation;

				if (navigation.category) {
					// category/1
					query+= "/" + navigation.category.id;
				}
				if (navigation.type) {
					// category/1/type/1
					query+= "/type/" + navigation.type.id;
				} 
				if (navigation.section){
					// category/1/type/1/section/1
					query+= "/section/" + navigation.section.id
				}
				if ((this.selectedSubsections.length > 0) && navigation.section) {
					// category/1/type/1/section/1/subsection?page=1&item1=1&item2=2
					return query+= "/subsection?page=" + page + this.createSubsectionGetRequest(page);
				}
				
				return query+= "?page=" + page;
			},
			createSubsectionGetRequest(page){
				let query = "";
				let navigation = this.navigation;
				for (let i = 0; i < navigation.selectedSubsections.length; i++){
					query+= "&" + navigation.selectedSubsections[i].slug + "=" +  navigation.selectedSubsections[i].id;
				}
				
				return query;
			},
			scrollToBreadCrumb() {
				// $("body").animate({
				// 	scrollTop: this.findPos(document.getElementById("item-breadcrumb"))
				// }, 200);
				$('html, body').animate({
				       scrollTop: $("#item-breadcrumb").offset().top - 28
				   }, 200);
			},
			// findPos(obj) {
			// 	//determine how many pixels scrol on mobile and normal width
			// 	if (window.Show) {
			// 		var curtop = -120;
			// 	} else {
			// 		var curtop = -30;
			// 	}
			// 	if (obj.offsetParent) {
			// 		do {
			// 			curtop += obj.offsetTop;
			// 		} while (obj = obj.offsetParent);
			// 	return [curtop];
			// 	}
			// }
		},
		created() {
			this.navigation = new Navigation();
			this.navigation.navigationMenu = JSON.parse(this.sidebar_items);
			this.navigation.category = this.navigation.navigationMenu[0];

			Event.$on("categoryIsSelected", data => {
				this.navigation.categoryIsSelected(data);
				this.collectItems();
				this.scrollToBreadCrumb();
			});
			Event.$on("typeIsSelected", data => {
				this.navigation.typeIsSelected(data);
				this.collectItems();
				if (data[1].sections.length === 0) {
					this.scrollToBreadCrumb();
				}
			});
			Event.$on("sectionIsSelected", data => {
				this.navigation.sectionIsSelected(data);
				this.collectItems();
				this.scrollToBreadCrumb();
			});
			Event.$on("paginationClicked", page => {
				this.collectItems(page);
				this.scrollToBreadCrumb();
			});
			Event.$on("databaseQueryStart", () => {
				this.blur = true;
			})

			Event.$on("databaseQueryEnd", () => {
				this.blur = false;
			})
		}
		
	}
</script>