<template>
	<nav aria-label="Page navigation" v-if="pagination.total_pages > 1">
	  <ul class="pagination">
	    <li v-if="pagination.previousLink">
	      <a href="" aria-label="Previous" @click.prevent="paginationClicked(1)">
	        <span aria-hidden="true" value="previous">&laquo;</span>
	      </a>
	    </li>
	    
	    <li 
	    	v-for="(page, index) in pagination.total_pages" 
	    	@click.prevent="paginationClicked(page)"
	    	:class="{'active': pagination.current_page === index + 1}" 

	    	>
	    	<a href="#"> {{index + 1}} </a>
    	</li>
	    
	    <li v-if="pagination.nextLink">
	      <a href="pagination.Link" aria-label="Next" @click.prevent="paginationClicked(pagination.total_pages)">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</template>

<script>
	export default {
		props: ["pagination"],
		methods: {
			paginationClicked(page) {
				Event.$emit("paginationClicked", page);
				
			},
		}
	}
</script>