<template>
	<div>
		<ul v-if="sidebarVisible" class="list-unstyled sidebar">
			<div v-for="category in navigation.navigationMenu">
				<div>
					<a href="" class="title" @click.prevent="categoryIsSelected(category)">{{category.name}}</a>
					<li v-for="type in category.types" class="nav-types">
					<a href="" @click.prevent="typeIsSelected(category, type)">{{type.name}}</a>
						<ul v-if="type.showSections">
							<li v-for="section in type.sections" @click.prevent="sectionIsSelected(section)"><a href="">{{section.name}}</a></li>
						</ul>
					</li>
				</div>
				<hr v-if="category.id === 1">
			</div>
		</ul>
	</div>
</template>
<script>
	export default {
		props: ["navigation"],
		data() {
			return {
				sidebarVisible: true,
				userMenuVisible: false,
			}
		},
		methods: {
			categoryIsSelected(category) {
				Event.$emit("categoryIsSelected", category);
			},
			typeIsSelected(category, type) {
				Event.$emit("typeIsSelected", [category, type]);
			},
			sectionIsSelected(section) {
				Event.$emit("sectionIsSelected", section);
			}
		},
		created() {
			Event.$on("mobileWidth", mobileWidth => {
				//show sidebar always if not in mobile view
				if (!mobileWidth) {
					this.sidebarVisible = true;
				}
			});
			Event.$on("showItemsMenu", () => this.sidebarVisible = !this.sidebarVisible);
			Event.$on("showUserMenu", () => this.sidebarVisible = false);
		}
	}
</script>

