<template>
	<div class="panel-body" v-if="navigation.subsections">
	    <div class="row">
			<div class="col-xs-12">
			    <div class="checkbox custom-checkbox" v-for="(subsection, index) in navigation.subsections">
			        <label class="checkbox-inline">
			            <input type="checkbox" :value="navigation.subsections[index]" v-model="navigation.selectedSubsections">
			            <span>{{subsection.name}}</span>
			        </label>
			    </div>
			</div>
	    </div>
	</div>
</template>

<script>
	export default {
		props: ["navigation"],
		data() {
			return {
				selectedSubsection: [],
			}
		}
	}
</script>