.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
 
}
//for mobile
@media (max-width: 768px) {
	.flex {
		padding-right:10px;
		padding-left:10px;
	}
	.background-image {
		margin-bottom: -320px;
		height: 325px;
	}
   .nav-buttons {
   	padding-top: 50px;
   }
   .item {
   	padding: 0 ;
   }

   .custom-modal {
    width: 95%;
   }

}
