.pagination {
	li {
		a {
			color: $text-color;
		}
	}
	.active {
		a {
			background-color: $text-color;
			border-color: $text-color;
			color: white;
		}
		a:hover, a:active, a:visited {
			background-color: lighten($text-color, 10%);
			border-color: $text-color;
			color: white;
		}
	}
}