.panel-default {
	margin-top: 0px !important;
	background:transparent !important;
	border-radius: 0 !important;
	letter-spacing: $letter-spacing;
	.panel-heading {
		background-color: $nav-background-no-opacity;
		letter-spacing: $letter-spacing-heading;
	}
	.panel-body {
		background-color: $nav-background-subsections;
	}
}