.blur {
	filter: blur(1px);
}

.flex {
	  display: flex;
	  flex-wrap: wrap;
	.box {
		margin-bottom: 20px;
	}  
	.box-wide {
	  width: 25%;
	}

	.box-medium {
	  width: 33.3333%;
	}

	.box-mobile {
	  width: 100%;
	}
}
.item {
	background-color: $body-bg;
	box-sizing: border-box;
	padding: 0 10px;
	height: 100%;
	.item-image {
		overflow: hidden;
		height: 210px;
		cursor: pointer;
		transition: 0.3s;
		// padding: 0 15px;
		img {
			width: 100%;
			min-height: 100%;
		}
		&:hover {
			opacity: 0.8;
		}

	}
	.img-modal {
		// display:none;
		position: fixed;
		z-index:1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
		.modal-content {
			margin: auto;
			display: block;
			width: 80%;
			max-width: 700px;
		}
		.modal-caption {
			margin: auto;
		    display: block;
		    width: 80%;
		    max-width: 700px;
		    text-align: center;
		    color: $text-color;
		    padding: 10px 0;
		    height: 150px;
		    font-size: 2rem;
		}
		.modal-content, .modal-caption {
			animation: zoom 300ms;
		}
		@keyframes zoom {
			0% {transform: scale(0.5)}
			100% {transform: scale(1)}
		}
		.close-modal {
			position: absolute;
			top: 15px;
			right: 35px;
			color: #f1f1f1;
			font-size: 40px;
			font-weight: bold;
			transition: 0.3s;
		}
		.close-modal:hover, .close-modal:focus {
			color: #bbb;
			text-decoration:none;
			cursor: pointer;
		}
		@media only screen and (max-width: 768px){
		    .modal-content {
		        width: 100%;
		    }
		}
	}
	.item-title {
		height: 95px;
	}
	.item-content {
		letter-spacing: $letter-spacing;
		// padding-left: 15px;
		// padding-right: 15px;
		.item-quantity {
			border-bottom: solid $laravel-border-color 1px;
			padding: 15px 0;
			.item-radio {
				position: relative;
				input {
					display: none;
				}
				label {
					cursor: pointer;
					margin-bottom: 0px;
				}
				label:before {
						content: "\f096";
					    font-family: FontAwesome;
					    font-style: normal;
					    font-weight: normal;
					    text-decoration: inherit;
						margin-right: 5px;
						width: 10px;
						display: inline-block;
				}
				input:checked ~ label:before {
					font-family: FontAwesome;
					content: "\f046";
					animation: select 0.15s ease-in;
				}
				.item-price {
					position: absolute;
					font-weight: bold;
					left: 70px;
				}
				.item-price-custom {
					font-weight: bold;
				}
			}
			.item-counter {
				padding: 5px 0;
				button {
					font-size: 1.2rem;
					border: none;
					outline: none;
					padding: 5px;
					background-color: $button;
					letter-spacing: $letter-spacing;
					width: 80px;
				}
			}
		}
		.item-description {
			position: relative;
			padding: 15px 0 0 0;
			font-size: 1.2rem;
		}
		
	}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#item-breadcrumb ol {
	margin-bottom: 0;
	padding: 0 0 0 15px;
	background-color: transparent;

	li:before {
		padding: 0;
	}
}
