.custom-checkbox {
	label {
		transition: 300ms;
	}
	label:hover {
		cursor: pointer;
		color: $link-hover;
	}
	input {
		display: none;
		&:checked + span:before {
			content: "\f046";
			animation: select 0.15s ease-in;
		}
	}

	span:before {
		content: "\f096";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
		margin-right: 5px;
		width: 10px;
		display: inline-block;
	}
}

@keyframes select {
	0% {opacity:0; transform:scale(0.5)}
	90% {opacity:0.9; transform:scale(1.2)}
	100% {opacity:1; transform:scale(1)}
 }

