<template>
	<div>
		<div class="media cart-items">
		    <div class="media-left hidden-xs">
		        <img :src="'/img/' + item.img_path" >
		    </div>
		    <div class="media-body">
		        
		        <div class="col-sm-6">
		            <h5><strong>{{item.name}}</strong></h5>
		            <h6>76/2016</h6>
		        </div>
		        <div class="col-sm-3 col-xs-6">
		            <div>
		                <h5>{{item.price}}kč/{{item.unit}}</h5>
		                <!-- <input type="number" min="1" max="99" v-model:value="item.qty" class="checkout-item-count" onkeypress="return event.charCode >= 48"> -->
		                <div class="item-counter clearfix">
		                	<div class="item-qty pull-left">
		                		<div v-bind:class="{'remove-qty': showLoadingIcon}"> {{item.qty}} </div>
		                	</div>
		                	<div v-if="!showLoadingIcon" class="item-count-change">
		                		<i class="fa fa-chevron-up" aria-hidden="true" @click="addItem"></i>
		                		<i class="fa fa-chevron-down" aria-hidden="true" @click="removeItem"></i>
		                	</div>
		                	<i v-if="showLoadingIcon" class='fa fa-spinner fa-spin fa-lg'></i>
		                </div>
		            </div>
		        </div>
		        <div class="col-sm-3 col-xs-6">
		            <div class="text-right">
			            <a class="close remove-item" @click.prevent="removeFromCart">&nbsp&times;</a>
		                <h5>Cena</h5>
		                <h5 class="text-right">{{item.price * item.qty}} Kč</h5>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ["item"],
		data() {
			return {
				showCounter: false,
				showCount: true,
				itemCountChanging: false,
				showLoadingIcon: false,
			}
		},
		methods: {
			removeFromCart() {
				if (this.itemCountChanging) {
					return;
				}
				Event.$emit("itemRemoved", this.item);
			},
			addItem(){
				//Make sure remove buttonItem func runs one by one and show loading icon. If all clear, send the request
				if (this.itemCountChanging) {
					return;
				}
				Event.$emit("itemCountChanging");
				this.showLoadingIcon = true;

				this.$http.post("/cart", {id: this.item.id, qty: 1, priceType: this.item.priceType})
				.then(response => {
					Event.$emit("newCartItemsCount", response.data.cart_items_count)
					this.item.qty = this.item.qty + 1;
					Event.$emit("itemCountChangingEnded");
					this.showLoadingIcon = false;
				});
			},
			removeItem(){
				//Make sure there is at least 1 item
				//Make sure remove button Item func runs one by one and show loading icon. 
				//If all clear, send the request
				if (this.item.qty <= 1 || this.itemCountChanging) {
					return;
				}
				Event.$emit("itemCountChanging");
				this.showLoadingIcon = true;

				this.$http.post("/cart/substract", {id: this.item.id, qty: 1, priceType: this.item.priceType})
				.then(response => {
					Event.$emit("newCartItemsCount", response.data.cart_items_count)
					this.item.qty = this.item.qty - 1;
					Event.$emit("itemCountChangingEnded");
					this.showLoadingIcon = false;
				});
			}
		},
		created() {
			Event.$on("itemCountChanging", () => this.itemCountChanging = true);
			Event.$on("itemCountChangingEnded", () => this.itemCountChanging = false);
		}
	}
</script>