<template>
	<div>
		<div class="row no-gutter">
		    <div class="col-xs-12">
		        
		        <div id="checkout-item" class="panel panel-default">
		
		            <div class="panel-heading">
		                <h4>Váš nákupní košík</h4>
		            </div>
		
		            <div class="panel-body">

		               <checkout-cart-item v-for="item in cart.cartItems" v-bind:item="item"></checkout-cart-item>

		            </div>
		            <!-- <hr> -->
		            <div class="panel-footer clearfix">
		                <div class="col-sm-6">
		                    <h5 class="pull-left"><strong>Celkem</strong></h5>
		                </div>
		                <div class="col-sm-6">
		                    <h5 class="pull-right"><strong>{{total}} Kč</strong></h5>
		                </div>
		            </div>
		
		        </div>
		
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["cart"],
		computed: {
			total: function() {
				let total = this.calculateTotal()
				this.cart.total = total;
				return total;
			}
		},
		methods: {
			calculateTotal() {
				let sum = 0;
				for (let key in this.cart.cartItems) {
					if (this.cart.cartItems.hasOwnProperty(key)) {
						sum+= (this.cart.cartItems[key].price * this.cart.cartItems[key].qty);
					}
				}
				return sum;
			}
		}
	}
</script>