<template>
	<div>
		<div class="row no-gutter">
		    <div class="col-xs-12">
		        
		        <div class="panel panel-default checkout-form">
		
		            <div class="panel-heading">
		                <h4>Fakturační adresa</h4>
		                <div class="form-checkbox">
	                        <input id="form-second" type="checkbox" v-model="cart.secondAddressChecked">
	                        <label for="form-second">Dodací adresa je jiná než fakturační</label>
		                </div>
		            </div>
		
		            <div class="panel-body">
		                <div class="col-sm-6">
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.name')}">
		                        <label for="name">Jméno</label>
		                        <small v-if="cart.hasError('address.name')" class="text-danger">Zadejte prosím jméno</small>
		                        <input type="text" id="name" name="name" class="form-control input-sm" v-model="cart.address[0].name" @keydown="cart.deleteError('address.name')">
		                    </div>
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.street')}">
		                        <label for="street">Ulice</label>
		                        <small v-if="cart.hasError('address.street')" class="text-danger">Budeme potřebovat také adresu</small>
		                        <input type="text" id="street" name="street" class="form-control input-sm" v-model="cart.address[0].street" @keydown="cart.deleteError('address.street')">
		                    </div>
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.city')}">
		                        <label for="city">Město</label>
		                        <small v-if="cart.hasError('address.city')" class="text-danger">Nezapomeňte uvést město</small>
		                        <input type="text" id="city" name="city" class="form-control input-sm" v-model="cart.address[0].city" @keydown="cart.deleteError('address.city')">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.psc')}">
		                        <label for="psc">PSČ</label>
		                        <small v-if="cart.hasError('address.psc')" class="text-danger">Bez PSČ to nepůjde...</small>
		                        <input type="text" id="psc" name="psc" class="form-control input-sm" v-model="cart.address[0].psc" @keydown="cart.deleteError('address.psc')">
		                    </div>
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.phone')}">
		                        <label for="phone">Telefon</label>
		                        <small v-if="cart.hasError('address.phone')" class="text-danger">Zadejte prosím Váš telefon</small>
		                        <input type="text" id="phone" name="phone" class="form-control input-sm" v-model="cart.address[0].phone" @keydown="cart.deleteError('address.phone')">
		                    </div>
		                    <div class="form-group" v-bind:class="{'has-error': cart.hasError('address.email')}">
		                        <label for="email">E-mail</label>
		                        <small v-if="cart.hasError('address.email')" class="text-danger">Chybí email, nebo je ve špatném formátu.</small>
		                        <input type="text" id="email" name="email" class="form-control input-sm" v-model="cart.address[0].email" @keydown="cart.deleteError('address.email')">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group">
		                        <label for="country">Stát</label>
		                        <input type="text" id="country" name="country" class="form-control input-sm" v-model="cart.address[0].country">
		                    </div>
		                    <div class="form-group">
		                        <label for="fax">Fax</label>
		                        <input type="text" id="fax" name="fax" class="form-control input-sm" v-model="cart.address[0].fax">
		                    </div>
		                    <div class="form-group">
		                        <label for="contact">Kontaktní osoba</label>
		                        <input type="text" id="contact" name="contact" class="form-control input-sm" v-model="cart.address[0].contact">
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group" >
		                        <label for="company">Firma</label>
		                        <input type="text" id="company" name="company" class="form-control input-sm" v-model="cart.address[0].company">
		                    </div>
		                    <div class="form-group">
		                        <label for="ico">IČO</label>
		                        <input type="text" id="ico" name="ico" class="form-control input-sm" v-model="cart.address[0].ico">
		                    </div>
		                    <div class="form-group">
		                        <label for="dic">DIČ</label>
		                        <input type="text" id="dic" name="dic" class="form-control input-sm" v-model="cart.address[0].dic">
		                    </div>
		                </div>
		                <div class="col-md-12">
		                    <div class="form-group">
		                        <label for="message">Chcete nám něco říct?</label>
		                        <textarea name="message" id="message" class="form-control" value="message" v-model="cart.address[0].message"></textarea>
		                    </div>
		                </div>
		            </div>
		
		            <div class="panel-footer clearfix">
		                <div class="col-md-12">
		                	<button class="form-btn pull-right clickable" @click="formSubmitted"><strong>Dokončit</strong></button>
		                </div>
		            </div>
		
		        </div>
		
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["cart"],
		methods: {
			formSubmitted() {
				Event.$emit("formSubmitted");
			}
		}
	}
</script>