<template>
	<div>
		<div class="row no-gutter">
		    <div class="col-xs-12">
		        <transition name="checked">
		        	<div v-if="cart.secondAddressChecked" class="panel panel-default">
		        	    <div class="panel-heading">
		        	        <h4>Dodací adresa</h4>
		        	    </div>
		        	    <div class="panel-body checkout-form">
		        	        <div class="col-sm-6">
		        	            <div class="form-group">
		        	                <label for="name">Jméno</label>
		        	                <input type="text" id="name" name="name" class="form-control input-sm" v-model="cart.address[1].name">
		        	            </div>
		        	            <div class="form-group">
		        	                <label for="company">Firma</label>
		        	                <input type="text" id="company" name="company" class="form-control input-sm" v-model="cart.address[1].company">
		        	            </div>
		        	            <div class="form-group">
		        	                <label for="street">Ulice</label>
		        	                <input type="text" id="street" name="street" class="form-control input-sm" v-model="cart.address[1].street">
		        	            </div>
		        	        </div>
		        	        <div class="col-sm-6">
		        	            <div class="form-group">
		        	                <label for="city">Město</label>
		        	                <input type="text" id="city" name="city" class="form-control input-sm" v-model="cart.address[1].city">
		        	            </div>
		        	            <div class="form-group">
		        	                <label for="psc">PSČ</label>
		        	                <input type="text" id="psc" name="psc" class="form-control input-sm" v-model="cart.address[1].psc">
		        	            </div>
		        	            <div class="form-group">
		        	                <label for="country">Stát</label>
		        	                <input type="text" id="country" name="country" class="form-control input-sm" v-model="cart.address[1].country">
		        	            </div>
		        	        </div>
		        	    </div>
		        	</div>
		        </transition>
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["cart"],
	}
</script>

<style scoped>
	.checked-enter {
		opacity: 0;
		transform: translateY(-20px);
	}

	.checked-enter-active {
		transition: all 0.3s;
	}

	.checked-leave {
		
	}

	.checked-leave-active {
		opacity: 0;
		transform: translateY(-20px);
		transition: all 0.3s;
	}

</style>