<template>

	<div class="checkout">
		<checkout-cart v-bind:cart="cart"></checkout-cart>
		<checkout-shipping v-bind:cart="cart"></checkout-shipping>
		<checkout-address-second v-bind:cart="cart"></checkout-address-second>
		<checkout-address-first v-bind:cart="cart"></checkout-address-first>
	</div>

</template>

<script>

class Checkout {
	constructor(cartItems, userDetails) {
		this.cartItems = cartItems;
		this.shipping = "1";
		this.secondAddressChecked = false,
		this.total = "",
		this.errors = "",
		this.address = [
			{
				name: userDetails.first_name + " " + userDetails.first_name,
				company: userDetails.company,
				street: userDetails.address,
				city: userDetails.city,
				psc: userDetails.psc,
				country: "",
				phone: userDetails.phone,
				fax: userDetails.fax,
				email: userDetails.email,
				contact: "",
				ico: userDetails.ico,
				dic: userDetails.dic,
				message: "",
				id: userDetails.id,
			},
			{
				name: "",
				company: "",
				street: "",
				city: "",
				psc: "",
				country: "",
			}
		]
	}
	removeItem(item){
		this.cartItems.splice(this.cartItems.indexOf(item),1);
		
	}
	hasError(error) {
		return this.errors.hasOwnProperty(error);
	}
	deleteError(error) {
		delete this.errors[error];
	}
}
	export default {
		props: ["cartjson"],
		data() {
			return {
				cart: "",
			}
		},
		methods: {
			formSubmitted() {
				let cart = this.cart;
				Event.$emit("databaseQueryStart");
				this.$http.post("/kosik", {
					items: cart.cartItems, address: cart.address[0], addressSecondary: cart.address[1], shipping: cart.shipping
				}).then(response => {
					Event.$emit("databaseQueryEnd");
					window.location.replace("/");
				}).catch(error => {
					Event.$emit("databaseQueryEnd");
					this.cart.errors = error.data;
				});
			},
			removeItem(item) {
				Event.$emit("itemCountChanging");
				this.cart.removeItem(item);
				this.$http.post("cart/remove", this.cart.cartItems).then(response => {
					Event.$emit("itemCountChangingEnded");
					Event.$emit("newCartItemsCount", response.data.cart_items_count);
				});
			},
		},
		created() {
			Event.$emit("cartPageLoaded");
			let input = JSON.parse(this.cartjson);
			this.cart = new Checkout (input[0], input[1]);
			Event.$on("formSubmitted", () => this.formSubmitted());
			Event.$on("itemRemoved", item => this.removeItem(item));

		}
		
	}
</script>