<template>
	<div>
		<div class="row no-gutter">
		    <div class="col-xs-12">
		        
		        <div class="panel panel-default">
		
		            <div class="panel-heading">
		                <h4>Doprava Česká republika</h4>
		            </div>
		
		            <div class="panel-body">
		                
		                <div class="media">
		                    <div class="media-left">
		                        <img src="http://placehold.it/40x40">
		                    </div>
		                    <div class="media-body">
		                        <div class="col-sm-9">
		                            <div class="shipping-radio">
	                                    <input id="shipping1" type="radio" name="shipping" value="1" v-model="cart.shipping">
	                                    <label for="shipping1">Kurýrní zásilka - GLS (ČR)</label>
		                                <p>
		                                    <small>Dobírkou</small>
		                                </p>
		                            </div>
		                        </div>
		                        <div class="col-sm-3">
		                            <div class="text-right">
		                                <h5><strong>99 Kč</strong></h5>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="media">
		                    <div class="media-left">
		                        <img src="http://placehold.it/40x40">
		                    </div>
		                    <div class="media-body">
		                        <div class="col-sm-9">
		                            <div class="shipping-radio">
	                                    <input id="shipping2" type="radio" name="shipping" value="2" v-model="cart.shipping">
	                                    <label for="shipping2">Kurýrní zásilka - GLS (ČR)</label>
		                                <p>
		                                    <small>Bankovním převodem - platba předem</small>
		                                </p>
		                            </div>
		                        </div>
		                        <div class="col-sm-3">
		                            <div class="text-right">
		                                <h5><strong>99 Kč</strong></h5>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="media">
		                    <div class="media-left">
		                        <img src="http://placehold.it/40x40">
		                    </div>
		                    <div class="media-body">
		                        <div class="col-sm-9">
		                            <div class="shipping-radio">
	                                    <input id="shipping3" type="radio" name="shipping" value="3" v-model="cart.shipping">
	                                    <label for="shipping3">Poštovní zásilka - Česká pošta (ČR)</label>
		                                <p>
		                                    <small>Dobírkou</small>
		                                </p>
		                            </div>
		                        </div>
		                        <div class="col-sm-3">
		                            <div class="text-right">
		                                <h5><strong>99 Kč</strong></h5>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="media">
		                    <div class="media-left">
		                        <img src="http://placehold.it/40x40">
		                    </div>
		                    <div class="media-body">
		                        <div class="col-sm-9">
		                            <div class="shipping-radio">
	                                    <input id="shipping4" type="radio" name="shipping" value="4" v-model="cart.shipping">
	                                    <label for="shipping4">Poštovní zásilka - Česká pošta (ČR)</label>
	                                    <p>
		                                    <small>Bankovním převodem - platba předem</small>
		                                </p>
		                            </div>
		                        </div>
		                        <div class="col-sm-3">
		                            <div class="text-right">
		                                <h5><strong>99 Kč</strong></h5>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		
		
		            </div>
		
		            <div class="panel-footer clearfix">
		                <div class="col-sm-6">
		                    <h5 class="pull-left"><strong>Celkem za objednávku</strong></h5>
		                </div>
		                <div class="col-sm-6">
		                    <h5 class="pull-right"><strong>{{cart.total + 99}} Kč</strong></h5>
		                </div>
		            </div>
		
		        </div>
		
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["cart"],
	}
</script>