body {
	font-family: $font-family-sans-serif;
	letter-spacing: $letter-spacing;
	.main-content {
		// padding-top: 30px;
	}
}

// Regstration section

.registration {
	margin-bottom: 30px !important;
	a, a:visited, a:link, a:active, a:hover {
		border-radius: 0;
		text-decoration: none;
		color: $text-color;
		transition: 300ms;
	}

}
.custom-acordion {
	h4 {
		font-weight: bold;
		a {
			font-size: 2rem;
		}
	}
	a, a:visited, a:link, a:active {
		border-radius: 0;
		text-decoration: none;
		color: $text-color;
		transition: 300ms;
	}
	a:hover {
		color: $link-hover;
	}
	.panel-body {
		h4 {
			padding-top: 10px;
			padding-bottom: 25px;
		}
		li {
			padding-bottom: 20px;
			line-height: 25px;
		}
	}
}

.registration-form {
	label {
		font-size: 1.1rem;
	}
	.submit-btn {
		padding: 10px 20px;
		font-weight: bold;
		border: none;
		outline: none;
		background-color: $button;
		letter-spacing: $letter-spacing;
	}
	.novinky {
		input {
			display: none;
		}
		label {
			cursor: pointer;
			margin-bottom: 0px;
		}
		label:before {
				content: "\f096";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
				margin-right: 5px;
				width: 10px;
				display: inline-block;
		}
		input:checked ~ label:before {
			font-family: FontAwesome;
			content: "\f046";
			animation: select 0.15s ease-in;
		}
	}

}