// DARK GREEN
// $button: #CDA34F;
// $text-color: #E9E7DA;
// $body-bg: #636B46;
// $nav-background-no-opacity: #373F27;
// $nav-background: rgba(55, 63, 39, 0.6);
// $nav-background-subsections: rgba(99, 107, 70, 0.6);

// LIGHT GREEN
// $button: #CDA34F;
// $text-color: #E9E7DA;
// $body-bg: #636B46;
// $nav-background-no-opacity: #373F27;
// $nav-background: rgba(55, 63, 39, 0.6);
// $nav-background-subsections: rgba(99, 107, 70, 0.6);

//White Theme
// $button: #CDA34F;
$text-color: #525252;
$body-bg: white;
// $nav-background-no-opacity: #373F27;
// $nav-background: rgba(55, 63, 39, 0.6);
// $nav-background-subsections: rgba(99, 107, 70, 0.6);


// Body
// $body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$letter-spacing-heading: 2px;
$letter-spacing: 1.3px;
// $text-color: #636b6f;
// $text-color: white;

// Navbar
$navbar-default-bg: #fff;
$nav-background-no-opacity: $navbar-default-bg;
$nav-background-subsections: $navbar-default-bg;
// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Custom
// $nav-background: #7f8c8d;
$nav-background: white;
$link-hover: lighten($text-color, 20%);

//Button
$button: #fff;
$button-hover: darken($button, 10%);
$button-active: darken($button, 30%);
