.form-checkbox {
	position: relative;
	input {
		display: none;
	}
	label {
		cursor: pointer;
		margin-bottom: 0px;
	}
	label:before {
			content: "\f096";
		    font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
			margin-right: 5px;
			width: 10px;
			display: inline-block;
	}
	input:checked ~ label:before {
		font-family: FontAwesome;
		content: "\f046";
		animation: select 0.15s ease-in;
	}
}
.checkout-form {
	label {
		font-size: 1.1rem;
		letter-spacing: $letter-spacing;
	}
}
.form-btn {
	padding: 10px 20px;
	border: none;
	outline: none;
	background-color: $button;
	letter-spacing: $letter-spacing;
	
}