.checkout {
	.cart-items {
		img {
			height: 64px;
			width: 64px;
		}
		.item-counter {
			position: relative;
			.item-qty {
				.remove-qty {
					opacity: 0;
					transition: 300ms;
				}
			}
			.item-count-change {
				cursor: pointer;
				padding-left: 20px;
				.fa:hover {
					color: lighten($text-color, 30%);
				}
			}
			.fa-spin {
				position: absolute;
				left: 26px;
				top: 5px;
			}
		}
		.remove-item {
			position: absolute;
			top: 9px;
			right: 0px;
			transform:scale(1);
		}
	}
}

