.background-image {
	margin-bottom: -450px;
	background-image: url("../img/tealeaf.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 20%;
	height: 450px;
	opacity: 0.2;
}
.clickable {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
	transition: 300ms;
}
.clickable:hover {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
}
.clickable:active {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
	transition: 10ms;
}

.nav-wrapper {
	a, a:visited, a:link, a:active {
		text-decoration: none;
		color: $text-color;
		transition: 300ms;
	}
	a:hover {
		color: $link-hover;
	}
	ul {
		list-style-type: none;
		padding: 0;
		position: relative
	}
}


.nav-primary {
	> li {
		float: left;
		position: relative;	
		padding: 5px 0;
		> a {
			letter-spacing: $letter-spacing-heading;
			font-weight: lighter;
		}
		.nav-menu {
			top: 27px;
			display: none;
			position: absolute;
			background-color: $nav-background;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			z-index: 99;
			border-radius: 3px;
			animation: navmenu 300ms ease-in forwards;
			ul {
				li{
					padding: 5px 0;
					color: white;

					:hover {
						color:darken(white, 10%);
					}
				}
			}
		}
		> span:after {
			content: "|";
			margin: 0px 10px;
		}
	}
	> li:hover .nav-menu {
		display: block;
	}
}

@keyframes navmenu {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.custom-dropdown:hover .custom-dropdown-menu {
	display: block;
}

.navigation-panel {
	
	height: 300px;

	.nav-brand {
		display: inline-block;
 		padding-right: 15px;
 		h1 {
	 		font-weight: bold;
 		}
	}

}

 	.nav-buttons {
 		padding-top: 150px;
 		padding-bottom: 23px;
 		margin: 0 10px;
		a, a:hover a:visited, a:link, a:active{
			text-decoration: none;
			color: inherit;
	 		button {
	 			width: 80px;
	 			height: 50px;
	 			border: none;
	 			outline: none;
	 			background-color: $button;
				position: relative;
				.fa {
					position: absolute;
					left: 50%;
					top:50%;
					transform: translate(-50%, -50%);
				}
				.items-count-wrapper {
					position: absolute;
					color: $text-color;
					background-color: $button;
					// border: 1px solid $laravel-border-color;
					top: 33px;
					right: -5px;
					width: 28px;
					height: 25px;
					border-radius: 50%;
					// border: none;
					box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
					.item-count {
						font-weight: lighter;
					}
				}
	 		}
	 		.cart-btn {
 				.rotate {
					animation: cart 1000ms 1 cubic-bezier(0.13, 0.46, 1, 1);
 				}
 				.lift {
 					box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
 				}
 				@keyframes cart {
 					0% {transform: rotateY(0deg)}
 					30% {
						transform: rotateY(90deg) scale(0.8);opacity: 0;}
 					70% {
 						transform:scale(0.8);opacity:0;}
 					80% {
						transform: rotateY(90deg) scale(1.3);}
 					100% {transform: rotateY(0deg) scale(1);}
 				}
	 		}
		}

 	}
