.sidebar-menu {
	.sidebar {
		background-color: $nav-background;
		padding: 1px 10px 10px 10px;
		box-shadow: 5px 5px 5px 5px $nav-background;
		border-radius: 5px;
		div {
			.title {
				font-size: 3.2rem;
				// border-bottom: solid $laravel-border-color 1px;
				display: block;
				padding-bottom: 15px;
			}
			a, a:visited, a:link, a:active {
				text-decoration: none;
				color:$text-color;
				letter-spacing: $letter-spacing-heading;
				transition: 300ms;
			}
			a:hover {
				color: $link-hover;
			}
			li.nav-types {
				padding: 10px 0;
				position: relative;
				> a {
					padding-bottom: 5px;
				}
			}
			li.nav-types:not(:last-child) {
				border-bottom: solid $laravel-border-color 1px;
			}
			ul {
				list-style-type: none;
				padding-left: 15px;
				li {
					padding: 5px 0;
					a {
						font-weight: lighter;
						font-style: italic;
					}
				}
				li:last-child {
					padding-bottom: 0;
				}
			}	
		}
	}
}