.user-menu {
	background-color: $nav-background;
	a, a:visited, a:link, a:active {
		text-decoration: none;
		color:$text-color;
		letter-spacing: $letter-spacing-heading;
		transition: 300ms;
	}
	a:hover {
		color: $link-hover;
	}
	.title {
		font-size: 3.2rem;
		padding-bottom: 15px;
	}
	> ul {
		> li {
			padding: 10px 0;
			border-bottom: solid $laravel-border-color 1px;
			ul {
				li:not(:first-child) {
					padding: 10px 0;
					border-bottom: solid $laravel-border-color 1px;
				}
				li:first-child {
					padding-bottom: 10px;
					border-bottom: solid $laravel-border-color 1px;
				}
				li:last-child {
					border-bottom: none;
				}
			}
		}
		li:last-child {
			border-bottom: none;
		}
		
	}
}